openapi: 3.0.3
info:
  title: CodeVote API
  version: 1.1.0
  description: |
    API REST del sistema de votaciones estudiantiles CodeVote (UIDE).

    **Autenticación:** sin contraseña. Se pide un código de 6 dígitos al correo
    institucional (`POST /auth/codigo`) y se canjea por el token
    (`POST /auth/verificar`). Todos los endpoints salvo `/auth/*` y `/health`
    requieren ese token JWT en la cabecera `Authorization: Bearer <token>`.
    Las operaciones de escritura (POST/PATCH/DELETE) requieren rol `admin`.

    **Resultados electorales:** el escrutinio (`/votos/resultados/{votacionId}`)
    y las actas (`/actas-resultados`) son de LECTURA exclusivamente
    administrativa: 401 sin token y 403 con rol `estudiante` o `candidato`, en
    cualquier estado de la papeleta. Ningún otro contrato devuelve conteos,
    porcentajes, ganador, empate ni participación.
servers:
  - url: https://codevote.lat/api
    description: Producción
  - url: http://localhost:3000/api
    description: Desarrollo local
tags:
  - name: Autenticación
  - name: Facultades
  - name: Directores
  - name: Carreras
  - name: Responsables
  - name: Estudiantes
  - name: Procesos electorales
  - name: Cronogramas
  - name: Listas candidatas
  - name: Candidatos
  - name: Planes de trabajo
  - name: Requisitos
  - name: Validaciones de requisito
  - name: Códigos de voto
  - name: Actas de resultados
  - name: Veedores
  - name: Veedurías
  - name: Votaciones
  - name: Votos
  - name: Recordatorios
  - name: Sanciones
  - name: Notificaciones
  - name: Portal candidato
  - name: Perfil
  - name: Asignación de candidatura
  - name: Sistema

paths:
  /auth/codigo:
    post:
      tags: [Autenticación]
      summary: Envía un código de acceso al correo institucional
      security: []
      description: >-
        Primer paso del inicio de sesión. La persona escribe su **correo
        institucional o su cédula** y recibe un código de 6 dígitos en el correo.
        No hay contraseña.


        El código vive 10 minutos, sirve una sola vez y admite 5 intentos. Pedir
        uno nuevo invalida el anterior, y hay una espera mínima de 60 segundos
        entre envíos a la misma cuenta (429 si no se respeta).


        **La respuesta es siempre la misma exista o no la cuenta.** Si el
        identificador no corresponde a nadie, no se envía nada y
        `correo_enmascarado` llega en `null`, pero ni el estado HTTP ni el
        mensaje cambian: así este endpoint no sirve para averiguar qué correos o
        cédulas están registrados.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [identificador]
              properties:
                identificador:
                  type: string
                  description: Correo institucional o cédula de 10 dígitos.
                  example: schininin@uide.edu.ec
      responses:
        '200':
          description: Solicitud recibida (se haya enviado o no un código)
          content:
            application/json:
              schema:
                type: object
                properties:
                  correo_enmascarado:
                    type: string
                    nullable: true
                    description: Buzón al que fue el código. null si no hay cuenta activa.
                    example: s********n@uide.edu.ec
                  expira_en_segundos:      { type: integer, example: 600 }
                  espera_reenvio_segundos: { type: integer, example: 60 }
                  mensaje:                 { type: string }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
        '429':
          description: Se pidió otro código antes de la espera mínima, o demasiados desde esta red
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: No se pudo enviar el correo (SMTP caído o sin configurar en producción)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/verificar:
    post:
      tags: [Autenticación]
      summary: Canjea el código por la sesión (token JWT)
      security: []
      description: >-
        Segundo paso. Devuelve el JWT si el código es correcto y sigue vigente.


        El código se consume: un segundo intento con el mismo código responde
        401. Un código equivocado descuenta intentos (quedan indicados en el
        mensaje) y al agotar los 5 se invalida y hay que pedir otro.


        Los mensajes de error no distinguen entre cuenta inexistente, código
        equivocado y código caducado, para no revelar qué cuentas existen.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [identificador, codigo]
              properties:
                identificador:
                  type: string
                  description: El mismo con el que se pidió el código.
                  example: schininin@uide.edu.ec
                codigo:
                  type: string
                  description: 6 dígitos. Se admiten espacios y guiones al pegarlo.
                  example: "482913"
      responses:
        '200':
          description: Autenticación correcta
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  usuario:
                    type: object
                    properties:
                      cedula:               { type: string }
                      nombres:              { type: string }
                      apellidos:            { type: string }
                      correo_institucional: { type: string, format: email }
                      rol:                  { type: string, enum: ["estudiante", "admin", "candidato"] }
                      foto_url:             { type: string, nullable: true }
        '401':
          description: Código inválido, caducado o ya usado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
        '429':
          description: Se agotaron los intentos de ese código, o hubo demasiados fallos desde esta red
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/login:
    post:
      tags: [Autenticación]
      summary: '[Retirado] Inicio de sesión por contraseña'
      security: []
      deprecated: true
      description: >-
        **Retirado.** El acceso es por código al correo
        (`/auth/codigo` + `/auth/verificar`). Responde **410** salvo que se
        active `AUTH_PASSWORD_FALLBACK=true`, que existe solo como puerta de
        emergencia para la administración si el SMTP se cae.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [correo_institucional, password]
              properties:
                correo_institucional: { type: string, format: email }
                password:             { type: string }
      responses:
        '200':
          description: Autenticación correcta (solo con el respaldo activado)
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:   { type: string }
                  usuario: { type: object }
        '400': { $ref: '#/components/responses/SolicitudInvalida' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '410':
          description: El acceso con contraseña está retirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /facultades:
    get:
      tags: [Facultades]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Facultades]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FacultadInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /facultades/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Facultades]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Facultades]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FacultadInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Facultades]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /directores:
    get:
      tags: [Directores]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Directores]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DirectorInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /directores/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Directores]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Directores]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DirectorInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Directores]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /carreras:
    get:
      tags: [Carreras]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Carreras]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CarreraInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /carreras/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Carreras]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Carreras]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CarreraInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Carreras]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /responsables:
    get:
      tags: [Responsables]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Responsables]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResponsableInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /responsables/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Responsables]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Responsables]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResponsableInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Responsables]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /estudiantes:
    get:
      tags: [Estudiantes]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
    post:
      tags: [Estudiantes]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EstudianteInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /estudiantes/{cedula}/asignacion-candidatura:
    parameters:
      - name: cedula
        in: path
        required: true
        schema: { type: string, minLength: 10, maxLength: 10 }
    get:
      tags: [Asignación de candidatura]
      summary: Consulta la asignación de un candidato (requiere rol admin)
      responses:
        '200':
          description: Asignación encontrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AsignacionCandidatura' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante no tiene asignación }
    post:
      tags: [Asignación de candidatura]
      summary: Asigna una papeleta a un candidato (requiere rol admin)
      description: >-
        Reglas: la cuenta debe tener rol candidato; solo puede tener una
        asignación; la papeleta debe existir y su proceso estar en periodo de
        inscripción; si la papeleta es de una carrera, el candidato debe
        pertenecer a esa misma carrera.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fk_id_votacion]
              properties:
                fk_id_votacion: { type: integer, description: Papeleta (votación) asignada. }
      responses:
        '201':
          description: Asignación creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AsignacionCandidatura' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante, la papeleta o su proceso no existen }
        '409':
          description: >-
            Ya tiene una asignación, la cuenta no es candidato, el proceso no
            está en inscripción, o la papeleta es de otra carrera
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    patch:
      tags: [Asignación de candidatura]
      summary: Cambia la papeleta asignada (requiere rol admin)
      description: >-
        No se permite si el candidato ya tiene una lista enviada a revisión,
        aprobada o con votos: primero hay que retirar o rechazar esa lista.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fk_id_votacion]
              properties:
                fk_id_votacion: { type: integer }
      responses:
        '200':
          description: Asignación actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AsignacionCandidatura' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante no tiene asignación }
        '409':
          description: Lista comprometida, papeleta de otra carrera o proceso fuera de inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Asignación de candidatura]
      summary: Retira la asignación (requiere rol admin)
      description: >-
        Elimina la asignación y deja libre al candidato. No se permite si ya
        tiene una lista enviada a revisión, aprobada o con votos.
      responses:
        '204': { description: Asignación retirada }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante no tiene asignación }
        '409':
          description: Tiene una lista que debe conservarse
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /estudiantes/{cedula}:
    parameters:
      - name: cedula
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Estudiantes]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Estudiantes]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EstudianteInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Estudiantes]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /procesos-electorales:
    get:
      tags: [Procesos electorales]
      summary: Lista los procesos electorales
      description: >-
        Sin filtro devuelve todos los NO archivados. Con ?estado=actuales
        devuelve los activos o próximos (no finalizados ni cancelados). Con
        ?estado=finalizados devuelve el historial (finalizados no archivados).
        Con ?estado=archivados (o ?estado=archivado) devuelve SOLO los
        archivados: el historial en modo lectura, con sus papeletas, listas,
        resultados, ganador, participación y fechas. Un proceso archivado no
        aparece en ninguna otra consulta.


        Segmentación por carrera: el proceso es general y la carrera se define en
        cada votación (papeleta) que contiene. La administración ve todos los
        procesos; el estudiante ve solo aquellos que tengan al menos una papeleta
        global o de su propia carrera (un proceso sin votaciones también se
        muestra, porque aún se está preparando). Un proceso que no le
        corresponde responde 404 al pedirlo por identificador.
      parameters:
        - name: estado
          in: query
          required: false
          schema:
            type: string
            enum: [actuales, finalizados, archivados, actual, finalizado, archivado]
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Procesos electorales]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProcesoElectoralInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /procesos-electorales/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Procesos electorales]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Procesos electorales]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProcesoElectoralInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Procesos electorales]
      summary: Elimina un proceso en borrador (requiere rol admin)
      description: >-
        Solo elimina procesos SIN actividad electoral. En ese caso limpia en una
        transacción sus dependencias de preparación: validaciones, candidatos,
        planes, listas, ASIGNACIONES DE CANDIDATURA, votaciones y cronogramas.
        Además devuelve a `estudiante` a los responsables que no dirijan otra
        candidatura vigente, dejándolos libres para postularse de nuevo.


        Si ya tiene votos, comprobantes, actas o veedurías responde 409 con el
        motivo: hay que cancelar o archivar. No se usa ON DELETE CASCADE en el
        esquema para que la evidencia electoral quede siempre protegida por las
        claves foráneas.
      responses:
        '204': { description: Eliminado junto con sus dependencias de borrador }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /procesos-electorales/{id}/cancelar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Procesos electorales]
      summary: Cancela un proceso (requiere rol admin)
      description: >-
        Marca el proceso como cancelado sin borrar nada. Es la alternativa a
        eliminar cuando el proceso ya tiene actividad electoral. Un proceso
        finalizado no se cancela (se archiva), y uno ya cancelado responde 409.
      responses:
        '200':
          description: Proceso cancelado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: El proceso ya está cancelado, o está finalizado (archívalo)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /procesos-electorales/{id}/archivar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Procesos electorales]
      summary: Archiva un proceso (requiere rol admin)
      description: >-
        Archiva (soft) un proceso finalizado o cancelado. NO borra nada:
        papeletas, listas, integrantes, propuestas, votos, comprobantes y actas
        se conservan como historial, consultable con ?estado=archivado.


        Lo que sí termina es la candidatura. En la misma transacción se retiran
        las asignaciones de candidatura de sus papeletas y quien presidía una de
        sus listas recupera el rol `estudiante`, salvo que siga dirigiendo otra
        candidatura vigente. Su lista deja de aparecer en GET
        /candidato/mi-lista, el proceso deja de figurar como asignación activa,
        y la persona queda libre para postularse en un proceso futuro. Las
        listas se devuelven con `archivada: true`.


        Se retiran TODAS las asignaciones de sus papeletas, sin importar el
        estado de la lista ni si tiene votos: una lista rechazada, retirada o
        con votos libera igual a su responsable, y nada de eso se borra.


        El corte es `archivado_at`, no `estado`: un proceso archivado conserva
        su estado anterior (finalizado o cancelado).


        No se puede archivar un proceso activo ni uno ya archivado (409). Los
        efectos son idempotentes: nada se repite. Al arrancar, el backend
        reconcilia los procesos que se archivaron antes de que esto existiera y
        quedaron con asignaciones activas o responsables con rol candidato.
      responses:
        '200':
          description: Proceso archivado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: El proceso está activo o ya estaba archivado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /cronogramas:
    get:
      tags: [Cronogramas]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Cronogramas]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CronogramaInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /cronogramas/proceso/{procesoId}:
    get:
      tags: [Cronogramas]
      summary: Lista los cronogramas de un proceso electoral
      parameters:
        - name: procesoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /cronogramas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Cronogramas]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Cronogramas]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CronogramaInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Cronogramas]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /listas-candidatas:
    get:
      tags: [Listas candidatas]
      summary: Lista todos los registros
      description: >-
        **Visibilidad.** Una candidatura solo es pública cuando la administración
        la aprueba. Los roles `estudiante` y `candidato` reciben únicamente las
        listas con `estado_revision = 'aprobada'`; las `pendiente`,
        `en_revision`, `rechazada` y `retirada` no aparecen. La única excepción
        es la lista propia: el responsable sigue viendo la suya, que es la que
        gestiona desde el Portal del candidato. El rol `admin` las ve todas.


        Se aplica el mismo criterio en los cuatro contratos de lectura: este
        listado, `/proceso/{procesoId}`, `/votacion/{votacionId}` y el detalle
        `/{id}`. Sigue vigente además el filtro por carrera de la papeleta.
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Listas candidatas]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ListaCandidataInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /listas-candidatas/proceso/{procesoId}:
    get:
      tags: [Listas candidatas]
      summary: Lista las listas candidatas de un proceso
      description: >-
        Estudiantes y candidatos reciben solo las listas aprobadas (más la
        propia); la administración, todas. Ver `/listas-candidatas`.
      parameters:
        - name: procesoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /listas-candidatas/votacion/{votacionId}:
    get:
      tags: [Listas candidatas]
      summary: Listas que compiten en una papeleta
      description: >-
        Devuelve las listas de esa votación. El estudiante y el candidato solo
        reciben las APROBADAS de papeletas globales o de su propia carrera (más
        la lista de la que son responsables); la administración ve todas, en
        cualquier estado de revisión.
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /listas-candidatas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Listas candidatas]
      summary: Obtiene una lista con su responsable, integrantes y planes
      description: >-
        Incluye `fk_cedula_responsable`, el bloque `responsable` y el arreglo
        `integrantes` (cada uno con su `cargo` y la bandera `es_responsable`).


        Una lista que quien consulta no puede ver —de otra carrera, o que no
        está aprobada y no es la suya— se responde **404**, no 403: el acceso
        directo por ID no revela ni siquiera que existe.
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidataDetalle' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404':
          description: >-
            La lista no existe, o no es visible para quien consulta (otra
            carrera, o no aprobada y ajena).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    patch:
      tags: [Listas candidatas]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ListaCandidataInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Listas candidatas]
      summary: Elimina una lista en borrador (requiere rol admin)
      description: >-
        Solo elimina listas SIN votos. En ese caso limpia en una transacción sus
        dependencias de preparación (validaciones de requisitos, candidatos y
        planes de trabajo). Si la lista ya recibió votos responde 409 con el
        motivo: hay que retirarla para conservarla como historial.
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: La lista tiene información relacionada y no puede borrarse
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /listas-candidatas/{id}/aprobar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Listas candidatas]
      summary: Aprueba una lista (requiere rol admin)
      description: >-
        Solo procede sobre una lista en revisión: un borrador que el candidato
        nunca envió, o una lista ya resuelta o retirada, se rechazan con 409.


        Se vuelve a exigir el **programa completo** (al menos una propuesta, cada
        una con área, resumen y PDF subido a CodeVote), porque la lista sigue
        siendo editable mientras está en revisión: sin esta segunda comprobación
        bastaría con añadir después una propuesta vacía. Así una lista aprobada
        nunca contiene propuestas sin PDF. Rechazar y retirar no lo exigen:
        rechazar una lista incompleta es justamente lo que debe poder hacer la
        administración.


        Al aprobarla se avisa al responsable en sus notificaciones. Repetir la
        petición no duplica el aviso, porque la segunda llamada ya no parte de
        `en_revision`.
      responses:
        '200':
          description: Lista aprobada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '409':
          description: >-
            Transición de estado no válida (solo se puede aprobar o rechazar una
            lista en revisión, y solo se puede retirar una aprobada; el mensaje
            indica el estado actual y desde cuál se llega al solicitado), o
            programa incompleto: sin propuestas, o con alguna sin área, sin
            resumen o sin PDF.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /listas-candidatas/{id}/rechazar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Listas candidatas]
      summary: Rechaza una lista con un motivo (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [motivo]
              properties:
                motivo: { type: string, minLength: 1, maxLength: 250 }
      responses:
        '200':
          description: Lista rechazada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: >-
            Transición de estado no válida. Solo se puede aprobar o rechazar una
            lista en revisión, y solo se puede retirar una aprobada; el mensaje
            indica el estado actual y desde cuál se llega al solicitado.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /listas-candidatas/{id}/retirar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Listas candidatas]
      summary: Retira una lista (soft-delete, requiere rol admin)
      description: >-
        Marca la lista como retirada sin borrarla, conservándola para
        auditoría. Alternativa al borrado físico cuando la lista tiene
        relaciones (candidatos, planes, votos). Solo procede sobre una lista
        aprobada.
      responses:
        '200':
          description: Lista retirada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '409':
          description: >-
            Transición de estado no válida. Solo se puede aprobar o rechazar una
            lista en revisión, y solo se puede retirar una aprobada; el mensaje
            indica el estado actual y desde cuál se llega al solicitado.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /listas-candidatas/{id}/responsable:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Listas candidatas]
      summary: Transfiere la responsabilidad de la lista (requiere rol admin)
      description: >-
        Operación EXCLUSIVA de administración: el presidente no puede
        eliminarse ni cambiarse desde el Portal del candidato.


        Dentro de una única transacción: el nuevo responsable queda en
        `fk_cedula_responsable`, pasa a rol `candidato`, recibe la asignación de
        candidatura de la papeleta de la lista y se convierte en `Presidente`
        (asciende si ya era integrante, se inserta si no lo era). El responsable
        anterior hereda el cargo que deja libre el nuevo —o el primer cargo sin
        ocupar, si este no integraba la lista—, pierde su asignación y vuelve a
        rol `estudiante` si no administra otra candidatura.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cedula_nuevo_responsable]
              properties:
                cedula_nuevo_responsable:
                  type: string
                  minLength: 10
                  maxLength: 10
                  description: Cédula del estudiante que asumirá la presidencia de la lista.
              example:
                cedula_nuevo_responsable: "1100000000"
      responses:
        '200':
          description: Responsabilidad transferida (lista con su nuevo responsable e integrantes)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidataDetalle' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: >-
            Ya es la responsable, cuenta de administración o estudiante inactivo,
            carrera incompatible con la papeleta, la lista no tiene papeleta, la
            persona ya participa en otra candidatura activa, o la lista tiene los
            cinco cargos ocupados y quien asume no la integraba.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /candidatos:
    get:
      tags: [Candidatos]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Candidatos]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CandidatoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /candidatos/lista/{listaId}:
    get:
      tags: [Candidatos]
      summary: Lista los candidatos de una lista candidata
      parameters:
        - name: listaId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /candidatos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Candidatos]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Candidatos]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CandidatoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Candidatos]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /planes-trabajo:
    get:
      tags: [Planes de trabajo]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Planes de trabajo]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanTrabajoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /planes-trabajo/lista/{listaId}:
    get:
      tags: [Planes de trabajo]
      summary: Lista los planes de trabajo de una lista
      parameters:
        - name: listaId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /planes-trabajo/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Planes de trabajo]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Planes de trabajo]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanTrabajoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Planes de trabajo]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /requisitos:
    get:
      tags: [Requisitos]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Requisitos]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequisitoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /requisitos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Requisitos]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Requisitos]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequisitoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Requisitos]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /validaciones-requisito:
    get:
      tags: [Validaciones de requisito]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Validaciones de requisito]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ValidacionRequisitoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /validaciones-requisito/candidato/{candidatoId}:
    get:
      tags: [Validaciones de requisito]
      summary: Lista las validaciones de un candidato
      parameters:
        - name: candidatoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /validaciones-requisito/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Validaciones de requisito]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Validaciones de requisito]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ValidacionRequisitoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Validaciones de requisito]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /codigos-voto/mis-codigos:
    get:
      tags: [Códigos de voto]
      summary: Comprobantes del usuario autenticado (no requiere admin)
      description: >-
        Devuelve únicamente los comprobantes emitidos al usuario del token, con
        su `codigo_verificacion` público. Nunca incluye `codigo_hash` ni la
        opción votada.
      responses:
        '200':
          description: Listado de comprobantes propios
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MiComprobante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /codigos-voto/mis-codigos/{id}/verificar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: Identificador del comprobante propio (id_codigo).
    get:
      tags: [Códigos de voto]
      summary: Verifica un comprobante propio
      description: >-
        Confirma que la participación quedó registrada. Protegido por propiedad:
        solo el dueño del comprobante puede consultarlo; si el comprobante no
        existe o es de otro estudiante se responde 404 por igual, para no
        revelar la existencia de comprobantes ajenos. La respuesta no incluye
        cédula, correo, hash ni la opción votada.
      responses:
        '200':
          description: Comprobante verificado
          content:
            application/json:
              schema:
                type: object
                properties:
                  valido:              { type: boolean, example: true }
                  codigo_verificacion: { type: string, format: uuid }
                  proceso:             { type: string }
                  papeleta:            { type: string }
                  fecha_registro:      { type: string, format: date-time }
                  estado:              { type: string, example: registrado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: El token no corresponde a un usuario con acceso a este recurso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: El comprobante no existe o no pertenece al usuario autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /codigos-voto:
    get:
      tags: [Códigos de voto]
      summary: Lista todos los registros (anónimo, requiere rol admin)
      description: >-
        Listado de comprobantes emitidos sin ningún dato de identidad: no
        incluye la cédula ni el nombre del estudiante, ni siquiera para un
        administrador, y tampoco la opción votada. Sirve para auditar cuántos
        comprobantes se emitieron, para qué papeleta y en qué estado están, sin
        permitir reconstruir quién participó. Para ver a qué estudiante
        pertenece un comprobante concreto están GET /codigos-voto/{id} y
        GET /codigos-voto/votacion/{votacionId}.
      responses:
        '200':
          description: Listado anónimo
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
    post:
      tags: [Códigos de voto]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CodigoVotoInput' }
      responses:
        '201':
          description: Creado. La respuesta es anónima, aunque la cédula viaje en la petición.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /codigos-voto/votacion/{votacionId}:
    get:
      tags: [Códigos de voto]
      summary: Lista los códigos de una votación (anónimo, requiere rol admin)
      description: >-
        Comprobantes emitidos en una votación, sin ningún dato de identidad ni
        la opción votada. Ver la lista permite auditar la participación, no
        reconstruir quién votó ni qué eligió.
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado anónimo
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /codigos-voto/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Códigos de voto]
      summary: Obtiene un registro por su identificador (anónimo, requiere rol admin)
      description: >-
        Comprobante puntual, sin identidad ni opción votada. Para cotejar el que
        reporte un estudiante se usan codigo_hash o codigo_verificacion, que son
        identificadores opacos.
      responses:
        '200':
          description: Registro encontrado (anónimo)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Códigos de voto]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CodigoVotoInput' }
      responses:
        '200':
          description: Actualizado. La respuesta es anónima.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Códigos de voto]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /actas-resultados:
    get:
      tags: [Actas de resultados]
      summary: Lista todos los registros (requiere rol admin)
      description: >-
        Un acta es el resultado consolidado y archivado de una papeleta
        (votantes, válidos, blancos, nulos y lista ganadora), así que la lectura
        es **exclusivamente administrativa**, igual que el escrutinio en vivo:
        401 sin token y 403 para estudiantes y candidatos. De lo contrario
        bastaría con pedir el acta para saltarse la restricción de
        `/votos/resultados/{votacionId}`.
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
    post:
      tags: [Actas de resultados]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActaResultadosInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /actas-resultados/votacion/{votacionId}:
    get:
      tags: [Actas de resultados]
      summary: Obtiene el acta de una votación (requiere rol admin)
      description: Resultados históricos, exclusivamente administrativos.
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }

  /actas-resultados/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Actas de resultados]
      summary: Obtiene un registro por su identificador (requiere rol admin)
      description: Resultados históricos, exclusivamente administrativos.
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Actas de resultados]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActaResultadosInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Actas de resultados]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /veedores:
    get:
      tags: [Veedores]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Veedores]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeedorInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /veedores/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Veedores]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Veedores]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeedorInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Veedores]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /veedurias:
    get:
      tags: [Veedurías]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Veedurías]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeeduriaInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /veedurias/votacion/{votacionId}:
    get:
      tags: [Veedurías]
      summary: Lista las veedurías de una votación
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /veedurias/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Veedurías]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Veedurías]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeeduriaInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Veedurías]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /votaciones:
    get:
      tags: [Votaciones]
      summary: Lista todas las votaciones (papeletas)
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Votaciones]
      summary: Crea una votación (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VotacionInput' }
      responses:
        '201':
          description: Creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /votaciones/proceso/{procesoId}:
    get:
      tags: [Votaciones]
      summary: Lista las votaciones (papeletas) de un proceso electoral
      description: >-
        Cada votación es una papeleta/categoría del proceso. El estudiante recibe
        solo las papeletas globales y la de su carrera; la administración ve
        todas.
      parameters:
        - name: procesoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /votaciones/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Votaciones]
      summary: Obtiene una votación por su identificador
      responses:
        '200':
          description: Votación encontrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Votaciones]
      summary: Actualiza una votación (requiere rol admin)
      description: >-
        Cambiar `estado` a `cerrada` es el CIERRE MANUAL, pensado como respaldo
        para cerrar antes de tiempo. Pasa por la misma función que el cierre
        automático, así que también emite el acta de escrutinio, avisa a la
        administración en la campanita y le manda el correo.


        Normalmente no hace falta: el backend cierra solo las papeletas cuyo
        proceso pasó de `fecha_fin_votacion`, comprobándolo cada minuto en hora
        de Ecuador (America/Guayaquil). Al arrancar hace además una
        reconciliación, por si alguna venció con el servidor apagado.


        La operación es idempotente: cerrar una papeleta ya cerrada no repite el
        acta, la notificación ni el correo.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VotacionInput' }
      responses:
        '200':
          description: Actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Votaciones]
      summary: Elimina una votación (requiere rol admin)
      responses:
        '204': { description: Eliminada }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /votos:
    post:
      tags: [Votos]
      summary: Emite un voto
      description: >-
        Registra el voto de forma anónima y genera un comprobante
        (codigo_voto) para el estudiante autenticado. Cada estudiante solo
        puede votar una vez por votación. El hash del comprobante NO se
        devuelve al estudiante (el voto es secreto); queda solo para auditoría.


        Segmentación por carrera: cada papeleta puede ser global o de una carrera;
        solo los estudiantes de esa carrera pueden votarla (403 en caso
        contrario). Además la lista elegida debe competir en esa misma papeleta
        (400 si no) y estar APROBADA (409 si no). Todo se valida en el backend,
        sin depender del frontend.


        Quién vota: el padrón lo forman los estudiantes y los candidatos.
        Competir no quita el derecho al voto, así que un candidato o un
        integrante de una lista vota con normalidad, incluida la papeleta en la
        que participa. La administración queda fuera del padrón y recibe 403.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fk_id_votacion, tipo_voto, fk_id_lista]
              properties:
                fk_id_votacion: { type: integer, example: 1 }
                fk_id_lista:
                  type: integer
                  nullable: true
                  description: Identificador de la lista. Debe ser null si el voto es blanco o nulo.
                tipo_voto:
                  type: string
                  enum: ["valido", "blanco", "nulo"]
      responses:
        '201':
          description: Voto registrado (sin exponer el hash del comprobante).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Voto' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: >-
            La votación corresponde a otra carrera, o quien lo intenta es una
            cuenta de administración, que no forma parte del padrón.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: >-
            El estudiante ya emitió su voto en esta votación, la votación no está
            abierta, el proceso no está activo, o la lista elegida no está
            aprobada (una lista pendiente, en revisión, rechazada o retirada no
            es una opción de la papeleta y tampoco se muestra en Elecciones).


            El doble voto se corta en dos capas: una comprobación previa y la
            restricción `uq_codigo_votante UNIQUE (fk_id_votacion,
            fk_cedula_estudiante)` de `codigo_voto`, que cubre la ventana entre
            ambas cuando llegan peticiones simultáneas. Ambas responden 409, de
            modo que solo puede existir un comprobante por estudiante y papeleta.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /votos/resultados/{votacionId}:
    get:
      tags: [Votos]
      summary: Escrutinio agregado de una votación (requiere rol admin)
      description: >-
        Conteo por opción más un resumen de participación, ganador y empate.


        **Exclusivamente administrativo.** Solo el rol `admin` puede consultarlo:
        sin token responde 401 y con rol `estudiante` o `candidato` responde 403,
        esté la papeleta abierta o cerrada y haya finalizado o no el proceso.
        Cerrar una votación ya no publica sus resultados a los estudiantes.


        El cálculo sigue siendo en tiempo real y el cierre automático de las
        papeletas vencidas no cambia: lo único que cambia es quién puede
        consultarlo.


        Todo es agregado: no se devuelven cédulas, nombres ni nada que relacione
        a una persona con su voto. El endpoint es de solo lectura — aunque el
        padrón haya votado completo, no cierra la votación.
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Conteo por opción y resumen del escrutinio
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResultadosVotacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: Quien consulta no es administración (estudiante o candidato)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: 'Acceso denegado. Se requiere rol admin.' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /recordatorios:
    get:
      tags: [Recordatorios]
      summary: Recordatorios programados (requiere rol admin)
      description: >-
        Envíos de correo que la administración programó a mano. Los avisos
        automáticos del calendario —convocatoria al crear la papeleta, apertura,
        última llamada antes del cierre y falta por no votar— NO aparecen aquí:
        los dispara el servidor por su cuenta.
      parameters:
        - name: proceso
          in: query
          schema: { type: integer }
          description: Filtra por proceso electoral.
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/RecordatorioProgramado' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
    post:
      tags: [Recordatorios]
      summary: Programa un envío de correo (requiere rol admin)
      description: >-
        El correo sale en la siguiente comprobación del servidor (cada minuto)
        a partir de `programado_para`. Sin `fk_id_votacion` va a todo el padrón
        del proceso; con él, solo al de esa papeleta.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RecordatorioInput' }
      responses:
        '201':
          description: Programado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecordatorioProgramado' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /recordatorios/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    delete:
      tags: [Recordatorios]
      summary: Cancela un recordatorio pendiente (requiere rol admin)
      description: >-
        Solo mientras no haya salido. Un recordatorio ya enviado se conserva
        como registro de lo que se comunicó y responde 409.
      responses:
        '204': { description: Cancelado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: El recordatorio ya se envió
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /sanciones:
    get:
      tags: [Sanciones]
      summary: Faltas por no votar (requiere rol admin)
      description: >-
        Se registran solas al cerrar cada papeleta, para quienes no emitieron su
        voto.


        **Anonimato:** la ausencia se deduce de `codigo_voto`, que prueba QUIÉN
        participó pero no QUÉ votó. La tabla `voto` no interviene, así que una
        falta nunca revela ni relaciona el sentido de ningún voto.
      parameters:
        - name: proceso
          in: query
          schema: { type: integer }
        - name: votacion
          in: query
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Sancion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }

  /sanciones/mias:
    get:
      tags: [Sanciones]
      summary: Faltas propias del usuario autenticado
      description: Cada quien ve solo las suyas; el listado completo es administrativo.
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Sancion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /sanciones/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Sanciones]
      summary: Justifica o anula una falta (requiere rol admin)
      description: >-
        Una falta NUNCA se borra: ella y su resolución son historial electoral.
        Tampoco se puede reactivar, solo justificar o anular.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [estado]
              properties:
                estado:      { type: string, enum: ["justificada", "anulada"] }
                observacion: { type: string, maxLength: 250 }
      responses:
        '200':
          description: Resuelta
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sancion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /notificaciones:
    get:
      tags: [Notificaciones]
      summary: Notificaciones del estudiante autenticado
      description: Devuelve únicamente las notificaciones del usuario del token, de la más reciente a la más antigua.
      responses:
        '200':
          description: Listado de notificaciones propias
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notificacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /notificaciones/{id}/leida:
    patch:
      tags: [Notificaciones]
      summary: Marca una notificación propia como leída
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Notificación actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Notificacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404':
          description: La notificación no existe o no pertenece al usuario
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ---------------------------------------------------------------------------
  # Portal del candidato: todas requieren rol 'candidato'. El backend valida
  # además que la lista/candidato/plan pertenezca al candidato autenticado,
  # que el proceso esté en inscripción y que la lista no esté aprobada.
  # ---------------------------------------------------------------------------
  /candidato/mi-asignacion:
    get:
      tags: [Asignación de candidatura]
      summary: Papeleta asignada al candidato autenticado
      description: >-
        Devuelve la papeleta asignada con su proceso, carrera y estado de
        inscripción, o null si la administración todavía no le asignó ninguna
        (sin asignación no puede inscribir lista).
      responses:
        '200':
          description: Asignación propia, o null
          content:
            application/json:
              schema:
                nullable: true
                allOf: [{ $ref: '#/components/schemas/AsignacionCandidatura' }]
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }

  /candidato/estudiantes:
    get:
      tags: [Portal candidato]
      summary: Busca posibles integrantes para la lista
      description: >-
        Devuelve únicamente cédula, nombres, apellidos y carrera (nunca correo,
        contraseña ni promedio). Solo incluye estudiantes compatibles con la
        carrera de la papeleta asignada al candidato y excluye a quienes ya
        tienen una candidatura activa. Sin papeleta asignada responde 409.
      parameters:
        - name: buscar
          in: query
          required: true
          schema: { type: string, minLength: 2 }
          description: Texto a buscar en nombres, apellidos o cédula (mínimo 2 caracteres).
      responses:
        '200':
          description: Coincidencias (máximo 20)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cedula:         { type: string }
                    nombres:        { type: string }
                    apellidos:      { type: string }
                    nombre_carrera: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '409':
          description: El candidato no tiene papeleta asignada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { description: Falta el parámetro buscar o tiene menos de 2 caracteres }

  /candidato/listas/{listaId}/planes/archivo:
    parameters:
      - name: listaId
        in: path
        required: true
        schema: { type: integer }
    post:
      tags: [Portal candidato]
      summary: Adjunta el PDF del plan de trabajo
      description: >-
        Sube el documento del plan de trabajo de la lista propia. Solo el
        candidato dueño de la lista puede subirlo, mientras la lista siga
        editable y el proceso en inscripción.


        Se admite únicamente application/pdf, con un máximo de 10 MB. El archivo
        se guarda en un volumen persistente del servidor y se publica en
        /api/uploads/planes/... La URL resultante queda en
        plan_trabajo.archivo_url.


        Si la lista tiene varios planes de trabajo hay que indicar id_plan; con
        uno solo se usa ese automáticamente.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [archivo]
              properties:
                archivo:
                  type: string
                  format: binary
                  description: PDF del plan de trabajo (máximo 10 MB).
                id_plan:
                  type: integer
                  description: Plan al que se adjunta; obligatorio si la lista tiene varios.
      responses:
        '201':
          description: Archivo guardado
          content:
            application/json:
              schema:
                type: object
                properties:
                  archivo_url: { type: string, example: /api/uploads/planes/8a1a82f8-....pdf }
                  plan:        { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: La lista no pertenece al candidato
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: La lista no existe, o el id_plan indicado no es de esa lista
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: >-
            La lista aún no tiene plan de trabajo, no es editable, o el proceso
            no está en inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: >-
            El archivo no es PDF, supera los 10 MB, falta el campo "archivo", o
            la lista tiene varios planes y no se indicó id_plan
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /candidato/mi-lista:
    get:
      tags: [Portal candidato]
      summary: Lista del candidato autenticado (con responsable, integrantes y planes)
      description: >-
        Devuelve la lista de la que el candidato es responsable, o null si aún no
        tiene. Incluye el bloque `responsable`, el arreglo `integrantes` (cada uno
        con su `cargo` y la bandera `es_responsable`) y `planes`. `candidatos` se
        mantiene con el mismo contenido que `integrantes` por compatibilidad.
      responses:
        '200':
          description: Lista propia o null
          content:
            application/json:
              schema:
                nullable: true
                allOf: [{ $ref: '#/components/schemas/ListaCandidataDetalle' }]
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }

  /candidato/listas:
    post:
      tags: [Portal candidato]
      summary: Crea la lista del candidato en su papeleta asignada
      description: >-
        La papeleta NO se envía: se toma de la asignación que la administración
        hizo al candidato (ver GET /candidato/mi-asignacion). El proceso y la
[...]
