openapi: 3.0.3
info:
  title: CodeVote API
  version: 1.1.0
  description: |
    API REST del sistema de votaciones estudiantiles CodeVote (UIDE).

    **Autenticación:** todos los endpoints salvo `/auth/login` y `/health`
    requieren un token JWT en la cabecera `Authorization: Bearer <token>`.
    Las operaciones de escritura (POST/PATCH/DELETE) requieren rol `admin`.
servers:
  - url: https://codevote.lat/api
    description: Producción
  - url: http://localhost:3000/api
    description: Desarrollo local
tags:
  - name: Autenticación
  - name: Facultades
  - name: Directores
  - name: Carreras
  - name: Responsables
  - name: Estudiantes
  - name: Procesos electorales
  - name: Cronogramas
  - name: Listas candidatas
  - name: Candidatos
  - name: Planes de trabajo
  - name: Requisitos
  - name: Validaciones de requisito
  - name: Códigos de voto
  - name: Actas de resultados
  - name: Veedores
  - name: Veedurías
  - name: Votaciones
  - name: Votos
  - name: Notificaciones
  - name: Portal candidato
  - name: Perfil
  - name: Asignación de candidatura
  - name: Sistema

paths:
  /auth/login:
    post:
      tags: [Autenticación]
      summary: Inicia sesión y devuelve un token JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [correo_institucional, password]
              properties:
                correo_institucional:
                  type: string
                  format: email
                  example: schininin@uide.edu.ec
                password:
                  type: string
                  example: password123
      responses:
        '200':
          description: Autenticación correcta
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  usuario:
                    type: object
                    properties:
                      cedula:    { type: string }
                      nombres:   { type: string }
                      apellidos: { type: string }
                      rol:       { type: string, enum: ["estudiante", "admin", "candidato"] }
                      foto_url:  { type: string, nullable: true }
        '400': { $ref: '#/components/responses/SolicitudInvalida' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /facultades:
    get:
      tags: [Facultades]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Facultades]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FacultadInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /facultades/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Facultades]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Facultades]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FacultadInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facultad' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Facultades]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /directores:
    get:
      tags: [Directores]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Directores]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DirectorInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /directores/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Directores]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Directores]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DirectorInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Director' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Directores]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /carreras:
    get:
      tags: [Carreras]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Carreras]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CarreraInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /carreras/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Carreras]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Carreras]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CarreraInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Carrera' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Carreras]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /responsables:
    get:
      tags: [Responsables]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Responsables]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResponsableInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /responsables/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Responsables]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Responsables]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResponsableInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Responsable' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Responsables]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /estudiantes:
    get:
      tags: [Estudiantes]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
    post:
      tags: [Estudiantes]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EstudianteInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /estudiantes/{cedula}/asignacion-candidatura:
    parameters:
      - name: cedula
        in: path
        required: true
        schema: { type: string, minLength: 10, maxLength: 10 }
    get:
      tags: [Asignación de candidatura]
      summary: Consulta la asignación de un candidato (requiere rol admin)
      responses:
        '200':
          description: Asignación encontrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AsignacionCandidatura' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante no tiene asignación }
    post:
      tags: [Asignación de candidatura]
      summary: Asigna una papeleta a un candidato (requiere rol admin)
      description: >-
        Reglas: la cuenta debe tener rol candidato; solo puede tener una
        asignación; la papeleta debe existir y su proceso estar en periodo de
        inscripción; si la papeleta es de una carrera, el candidato debe
        pertenecer a esa misma carrera.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fk_id_votacion]
              properties:
                fk_id_votacion: { type: integer, description: Papeleta (votación) asignada. }
      responses:
        '201':
          description: Asignación creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AsignacionCandidatura' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante, la papeleta o su proceso no existen }
        '409':
          description: >-
            Ya tiene una asignación, la cuenta no es candidato, el proceso no
            está en inscripción, o la papeleta es de otra carrera
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    patch:
      tags: [Asignación de candidatura]
      summary: Cambia la papeleta asignada (requiere rol admin)
      description: >-
        No se permite si el candidato ya tiene una lista enviada a revisión,
        aprobada o con votos: primero hay que retirar o rechazar esa lista.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fk_id_votacion]
              properties:
                fk_id_votacion: { type: integer }
      responses:
        '200':
          description: Asignación actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AsignacionCandidatura' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante no tiene asignación }
        '409':
          description: Lista comprometida, papeleta de otra carrera o proceso fuera de inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Asignación de candidatura]
      summary: Retira la asignación (requiere rol admin)
      description: >-
        Elimina la asignación y deja libre al candidato. No se permite si ya
        tiene una lista enviada a revisión, aprobada o con votos.
      responses:
        '204': { description: Asignación retirada }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { description: El estudiante no tiene asignación }
        '409':
          description: Tiene una lista que debe conservarse
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /estudiantes/{cedula}:
    parameters:
      - name: cedula
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Estudiantes]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Estudiantes]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EstudianteInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Estudiantes]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /procesos-electorales:
    get:
      tags: [Procesos electorales]
      summary: Lista los procesos electorales
      description: >-
        Sin filtro devuelve todos los NO archivados. Con ?estado=actuales
        devuelve los activos o próximos (no finalizados ni cancelados). Con
        ?estado=finalizados devuelve el historial (finalizados no archivados).
        Con ?estado=archivados devuelve solo los archivados.


        Segmentación por carrera: el proceso es general y la carrera se define en
        cada votación (papeleta) que contiene. La administración ve todos los
        procesos; el estudiante ve solo aquellos que tengan al menos una papeleta
        global o de su propia carrera (un proceso sin votaciones también se
        muestra, porque aún se está preparando). Un proceso que no le
        corresponde responde 404 al pedirlo por identificador.
      parameters:
        - name: estado
          in: query
          required: false
          schema:
            type: string
            enum: [actuales, finalizados, archivados]
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Procesos electorales]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProcesoElectoralInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /procesos-electorales/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Procesos electorales]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Procesos electorales]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProcesoElectoralInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Procesos electorales]
      summary: Elimina un proceso en borrador (requiere rol admin)
      description: >-
        Solo elimina procesos SIN actividad electoral. En ese caso limpia en una
        transacción sus dependencias de preparación (validaciones, candidatos,
        planes, listas, votaciones y cronogramas). Si ya tiene votos,
        comprobantes, actas o veedurías responde 409 con el motivo: hay que
        cancelar o archivar. No se usa ON DELETE CASCADE en el esquema para que
        la evidencia electoral quede siempre protegida por las claves foráneas.
      responses:
        '204': { description: Eliminado junto con sus dependencias de borrador }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /procesos-electorales/{id}/cancelar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Procesos electorales]
      summary: Cancela un proceso (requiere rol admin)
      description: >-
        Marca el proceso como cancelado sin borrar nada. Es la alternativa a
        eliminar cuando el proceso ya tiene actividad electoral. Un proceso
        finalizado no se cancela (se archiva), y uno ya cancelado responde 409.
      responses:
        '200':
          description: Proceso cancelado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: El proceso ya está cancelado, o está finalizado (archívalo)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /procesos-electorales/{id}/archivar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Procesos electorales]
      summary: Archiva un proceso (requiere rol admin)
      description: >-
        Archiva (soft) un proceso finalizado o cancelado: deja de aparecer en
        las consultas activas pero conserva votos, comprobantes, actas,
        candidatos y auditorías para el historial. No se puede archivar un
        proceso activo ni uno ya archivado.
      responses:
        '200':
          description: Proceso archivado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProcesoElectoral' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: El proceso está activo o ya estaba archivado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /cronogramas:
    get:
      tags: [Cronogramas]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Cronogramas]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CronogramaInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /cronogramas/proceso/{procesoId}:
    get:
      tags: [Cronogramas]
      summary: Lista los cronogramas de un proceso electoral
      parameters:
        - name: procesoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /cronogramas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Cronogramas]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Cronogramas]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CronogramaInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cronograma' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Cronogramas]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /listas-candidatas:
    get:
      tags: [Listas candidatas]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Listas candidatas]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ListaCandidataInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /listas-candidatas/proceso/{procesoId}:
    get:
      tags: [Listas candidatas]
      summary: Lista las listas candidatas de un proceso
      parameters:
        - name: procesoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /listas-candidatas/votacion/{votacionId}:
    get:
      tags: [Listas candidatas]
      summary: Listas que compiten en una papeleta
      description: >-
        Devuelve las listas de esa votación. El estudiante solo recibe las de
        papeletas globales o de su propia carrera; la administración ve todas.
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /listas-candidatas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Listas candidatas]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Listas candidatas]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ListaCandidataInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Listas candidatas]
      summary: Elimina una lista en borrador (requiere rol admin)
      description: >-
        Solo elimina listas SIN votos. En ese caso limpia en una transacción sus
        dependencias de preparación (validaciones de requisitos, candidatos y
        planes de trabajo). Si la lista ya recibió votos responde 409 con el
        motivo: hay que retirarla para conservarla como historial.
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: La lista tiene información relacionada y no puede borrarse
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /listas-candidatas/{id}/aprobar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Listas candidatas]
      summary: Aprueba una lista (requiere rol admin)
      responses:
        '200':
          description: Lista aprobada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /listas-candidatas/{id}/rechazar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Listas candidatas]
      summary: Rechaza una lista con un motivo (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [motivo]
              properties:
                motivo: { type: string, minLength: 1, maxLength: 250 }
      responses:
        '200':
          description: Lista rechazada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /listas-candidatas/{id}/retirar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Listas candidatas]
      summary: Retira una lista (soft-delete, requiere rol admin)
      description: >-
        Marca la lista como retirada sin borrarla, conservándola para
        auditoría. Alternativa al borrado físico cuando la lista tiene
        relaciones (candidatos, planes, votos).
      responses:
        '200':
          description: Lista retirada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /candidatos:
    get:
      tags: [Candidatos]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Candidatos]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CandidatoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /candidatos/lista/{listaId}:
    get:
      tags: [Candidatos]
      summary: Lista los candidatos de una lista candidata
      parameters:
        - name: listaId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /candidatos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Candidatos]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Candidatos]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CandidatoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Candidatos]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /planes-trabajo:
    get:
      tags: [Planes de trabajo]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Planes de trabajo]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanTrabajoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /planes-trabajo/lista/{listaId}:
    get:
      tags: [Planes de trabajo]
      summary: Lista los planes de trabajo de una lista
      parameters:
        - name: listaId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /planes-trabajo/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Planes de trabajo]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Planes de trabajo]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanTrabajoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Planes de trabajo]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /requisitos:
    get:
      tags: [Requisitos]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Requisitos]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequisitoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /requisitos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Requisitos]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Requisitos]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequisitoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Requisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Requisitos]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /validaciones-requisito:
    get:
      tags: [Validaciones de requisito]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Validaciones de requisito]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ValidacionRequisitoInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /validaciones-requisito/candidato/{candidatoId}:
    get:
      tags: [Validaciones de requisito]
      summary: Lista las validaciones de un candidato
      parameters:
        - name: candidatoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /validaciones-requisito/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Validaciones de requisito]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Validaciones de requisito]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ValidacionRequisitoInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidacionRequisito' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Validaciones de requisito]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /codigos-voto/mis-codigos:
    get:
      tags: [Códigos de voto]
      summary: Comprobantes del usuario autenticado (no requiere admin)
      description: >-
        Devuelve únicamente los comprobantes emitidos al usuario del token, con
        su `codigo_verificacion` público. Nunca incluye `codigo_hash` ni la
        opción votada.
      responses:
        '200':
          description: Listado de comprobantes propios
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MiComprobante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /codigos-voto/mis-codigos/{id}/verificar:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: Identificador del comprobante propio (id_codigo).
    get:
      tags: [Códigos de voto]
      summary: Verifica un comprobante propio
      description: >-
        Confirma que la participación quedó registrada. Protegido por propiedad:
        solo el dueño del comprobante puede consultarlo; si el comprobante no
        existe o es de otro estudiante se responde 404 por igual, para no
        revelar la existencia de comprobantes ajenos. La respuesta no incluye
        cédula, correo, hash ni la opción votada.
      responses:
        '200':
          description: Comprobante verificado
          content:
            application/json:
              schema:
                type: object
                properties:
                  valido:              { type: boolean, example: true }
                  codigo_verificacion: { type: string, format: uuid }
                  proceso:             { type: string }
                  papeleta:            { type: string }
                  fecha_registro:      { type: string, format: date-time }
                  estado:              { type: string, example: registrado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: El token no corresponde a un usuario con acceso a este recurso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: El comprobante no existe o no pertenece al usuario autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /codigos-voto:
    get:
      tags: [Códigos de voto]
      summary: Lista todos los registros (anónimo, requiere rol admin)
      description: >-
        Listado de comprobantes emitidos sin ningún dato de identidad: no
        incluye la cédula ni el nombre del estudiante, ni siquiera para un
        administrador, y tampoco la opción votada. Sirve para auditar cuántos
        comprobantes se emitieron, para qué papeleta y en qué estado están, sin
        permitir reconstruir quién participó. Para ver a qué estudiante
        pertenece un comprobante concreto están GET /codigos-voto/{id} y
        GET /codigos-voto/votacion/{votacionId}.
      responses:
        '200':
          description: Listado anónimo
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
    post:
      tags: [Códigos de voto]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CodigoVotoInput' }
      responses:
        '201':
          description: Creado. La respuesta es anónima, aunque la cédula viaje en la petición.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /codigos-voto/votacion/{votacionId}:
    get:
      tags: [Códigos de voto]
      summary: Lista los códigos de una votación (anónimo, requiere rol admin)
      description: >-
        Comprobantes emitidos en una votación, sin ningún dato de identidad ni
        la opción votada. Ver la lista permite auditar la participación, no
        reconstruir quién votó ni qué eligió.
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado anónimo
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /codigos-voto/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Códigos de voto]
      summary: Obtiene un registro por su identificador (anónimo, requiere rol admin)
      description: >-
        Comprobante puntual, sin identidad ni opción votada. Para cotejar el que
        reporte un estudiante se usan codigo_hash o codigo_verificacion, que son
        identificadores opacos.
      responses:
        '200':
          description: Registro encontrado (anónimo)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Códigos de voto]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CodigoVotoInput' }
      responses:
        '200':
          description: Actualizado. La respuesta es anónima.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodigoVotoAnonimo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Códigos de voto]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /actas-resultados:
    get:
      tags: [Actas de resultados]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Actas de resultados]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActaResultadosInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /actas-resultados/votacion/{votacionId}:
    get:
      tags: [Actas de resultados]
      summary: Obtiene el acta de una votación
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /actas-resultados/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Actas de resultados]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Actas de resultados]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActaResultadosInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActaResultados' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Actas de resultados]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /veedores:
    get:
      tags: [Veedores]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Veedores]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeedorInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /veedores/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Veedores]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Veedores]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeedorInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veedor' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Veedores]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /veedurias:
    get:
      tags: [Veedurías]
      summary: Lista todos los registros
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Veedurías]
      summary: Crea un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeeduriaInput' }
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /veedurias/votacion/{votacionId}:
    get:
      tags: [Veedurías]
      summary: Lista las veedurías de una votación
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /veedurias/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Veedurías]
      summary: Obtiene un registro por su identificador
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Veedurías]
      summary: Actualiza un registro (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VeeduriaInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Veeduria' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Veedurías]
      summary: Elimina un registro (requiere rol admin)
      responses:
        '204': { description: Eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /votaciones:
    get:
      tags: [Votaciones]
      summary: Lista todas las votaciones (papeletas)
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
    post:
      tags: [Votaciones]
      summary: Crea una votación (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VotacionInput' }
      responses:
        '201':
          description: Creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /votaciones/proceso/{procesoId}:
    get:
      tags: [Votaciones]
      summary: Lista las votaciones (papeletas) de un proceso electoral
      description: >-
        Cada votación es una papeleta/categoría del proceso. El estudiante recibe
        solo las papeletas globales y la de su carrera; la administración ve
        todas.
      parameters:
        - name: procesoId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /votaciones/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Votaciones]
      summary: Obtiene una votación por su identificador
      responses:
        '200':
          description: Votación encontrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
    patch:
      tags: [Votaciones]
      summary: Actualiza una votación (requiere rol admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VotacionInput' }
      responses:
        '200':
          description: Actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Votacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Votaciones]
      summary: Elimina una votación (requiere rol admin)
      responses:
        '204': { description: Eliminada }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }

  /votos:
    post:
      tags: [Votos]
      summary: Emite un voto
      description: >-
        Registra el voto de forma anónima y genera un comprobante
        (codigo_voto) para el estudiante autenticado. Cada estudiante solo
        puede votar una vez por votación. El hash del comprobante NO se
        devuelve al estudiante (el voto es secreto); queda solo para auditoría.


        Segmentación por carrera: cada papeleta puede ser global o de una carrera;
        solo los estudiantes de esa carrera pueden votarla (403 en caso
        contrario). Además la lista elegida debe competir en esa misma papeleta
        (400 si no). Todo se valida en el backend, sin depender del frontend.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fk_id_votacion, tipo_voto, fk_id_lista]
              properties:
                fk_id_votacion: { type: integer, example: 1 }
                fk_id_lista:
                  type: integer
                  nullable: true
                  description: Identificador de la lista. Debe ser null si el voto es blanco o nulo.
                tipo_voto:
                  type: string
                  enum: ["valido", "blanco", "nulo"]
      responses:
        '201':
          description: Voto registrado (sin exponer el hash del comprobante).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Voto' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: La votación corresponde a otra carrera
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: >-
            El estudiante ya emitió su voto en esta votación, la votación no está
            abierta, o el proceso no está activo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /votos/resultados/{votacionId}:
    get:
      tags: [Votos]
      summary: Escrutinio agregado de una votación
      description: >-
        Conteo por opción más un resumen de participación, ganador y empate.
        Los roles admin, administrador y junta_electoral pueden consultar en
        cualquier momento (resultados en vivo). Un estudiante solo puede ver los
        resultados cuando la votación está cerrada o el proceso ha finalizado, y
        únicamente de papeletas globales o de su propia carrera.


        Todo es agregado: no se devuelven cédulas, nombres ni nada que relacione
        a una persona con su voto. El endpoint es de solo lectura — aunque el
        padrón haya votado completo, no cierra la votación.
      parameters:
        - name: votacionId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Conteo por opción y resumen del escrutinio
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResultadosVotacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: La votación sigue abierta y el usuario no tiene rol privilegiado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: 'Los resultados estarán disponibles cuando finalice la votación.' }

  /notificaciones:
    get:
      tags: [Notificaciones]
      summary: Notificaciones del estudiante autenticado
      description: Devuelve únicamente las notificaciones del usuario del token, de la más reciente a la más antigua.
      responses:
        '200':
          description: Listado de notificaciones propias
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notificacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }

  /notificaciones/{id}/leida:
    patch:
      tags: [Notificaciones]
      summary: Marca una notificación propia como leída
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Notificación actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Notificacion' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '404':
          description: La notificación no existe o no pertenece al usuario
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ---------------------------------------------------------------------------
  # Portal del candidato: todas requieren rol 'candidato'. El backend valida
  # además que la lista/candidato/plan pertenezca al candidato autenticado,
  # que el proceso esté en inscripción y que la lista no esté aprobada.
  # ---------------------------------------------------------------------------
  /candidato/mi-asignacion:
    get:
      tags: [Asignación de candidatura]
      summary: Papeleta asignada al candidato autenticado
      description: >-
        Devuelve la papeleta asignada con su proceso, carrera y estado de
        inscripción, o null si la administración todavía no le asignó ninguna
        (sin asignación no puede inscribir lista).
      responses:
        '200':
          description: Asignación propia, o null
          content:
            application/json:
              schema:
                nullable: true
                allOf: [{ $ref: '#/components/schemas/AsignacionCandidatura' }]
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }

  /candidato/estudiantes:
    get:
      tags: [Portal candidato]
      summary: Busca posibles integrantes para la lista
      description: >-
        Devuelve únicamente cédula, nombres, apellidos y carrera (nunca correo,
        contraseña ni promedio). Solo incluye estudiantes compatibles con la
        carrera de la papeleta asignada al candidato y excluye a quienes ya
        tienen una candidatura activa. Sin papeleta asignada responde 409.
      parameters:
        - name: buscar
          in: query
          required: true
          schema: { type: string, minLength: 2 }
          description: Texto a buscar en nombres, apellidos o cédula (mínimo 2 caracteres).
      responses:
        '200':
          description: Coincidencias (máximo 20)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cedula:         { type: string }
                    nombres:        { type: string }
                    apellidos:      { type: string }
                    nombre_carrera: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '409':
          description: El candidato no tiene papeleta asignada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { description: Falta el parámetro buscar o tiene menos de 2 caracteres }

  /candidato/listas/{listaId}/planes/archivo:
    parameters:
      - name: listaId
        in: path
        required: true
        schema: { type: integer }
    post:
      tags: [Portal candidato]
      summary: Adjunta el PDF del plan de trabajo
      description: >-
        Sube el documento del plan de trabajo de la lista propia. Solo el
        candidato dueño de la lista puede subirlo, mientras la lista siga
        editable y el proceso en inscripción.


        Se admite únicamente application/pdf, con un máximo de 10 MB. El archivo
        se guarda en un volumen persistente del servidor y se publica en
        /api/uploads/planes/... La URL resultante queda en
        plan_trabajo.archivo_url.


        Si la lista tiene varios planes de trabajo hay que indicar id_plan; con
        uno solo se usa ese automáticamente.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [archivo]
              properties:
                archivo:
                  type: string
                  format: binary
                  description: PDF del plan de trabajo (máximo 10 MB).
                id_plan:
                  type: integer
                  description: Plan al que se adjunta; obligatorio si la lista tiene varios.
      responses:
        '201':
          description: Archivo guardado
          content:
            application/json:
              schema:
                type: object
                properties:
                  archivo_url: { type: string, example: /api/uploads/planes/8a1a82f8-....pdf }
                  plan:        { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403':
          description: La lista no pertenece al candidato
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: La lista no existe, o el id_plan indicado no es de esa lista
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: >-
            La lista aún no tiene plan de trabajo, no es editable, o el proceso
            no está en inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: >-
            El archivo no es PDF, supera los 10 MB, falta el campo "archivo", o
            la lista tiene varios planes y no se indicó id_plan
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /candidato/mi-lista:
    get:
      tags: [Portal candidato]
      summary: Lista del candidato autenticado (con candidatos y planes)
      description: Devuelve la lista de la que el candidato es responsable, o null si aún no tiene.
      responses:
        '200':
          description: Lista propia o null
          content:
            application/json:
              schema:
                nullable: true
                allOf: [{ $ref: '#/components/schemas/ListaCandidata' }]
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }

  /candidato/listas:
    post:
      tags: [Portal candidato]
      summary: Crea la lista del candidato en su papeleta asignada
      description: >-
        La papeleta NO se envía: se toma de la asignación que la administración
        hizo al candidato (ver GET /candidato/mi-asignacion). El proceso y la
        carrera se derivan de ella. Sin asignación responde 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre_lista]
              properties:
                nombre_lista:  { type: string, maxLength: 80 }
                lema:          { type: string, maxLength: 120 }
                foto_url:
                  type: string
                  nullable: true
                  maxLength: 255
                  description: Imagen principal de la lista; debe iniciar con https://.
      responses:
        '201':
          description: Lista creada (estado pendiente)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: >-
            Sin papeleta asignada, el proceso no está en inscripción, o ya tienes
            una lista en él
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /candidato/listas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Portal candidato]
      summary: Edita nombre/lema/foto de la lista propia (no aprobada)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre_lista: { type: string, maxLength: 80 }
                lema:         { type: string, maxLength: 120 }
                foto_url:
                  type: string
                  nullable: true
                  maxLength: 255
                  description: Imagen principal de la lista; https:// o vacío para quitarla.
      responses:
        '200':
          description: Lista actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: Proceso fuera de inscripción o lista ya aprobada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /candidato/listas/{id}/candidatos:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    post:
      tags: [Portal candidato]
      summary: Agrega un candidato a la lista propia
      description: Valida que el estudiante exista, el cargo no se repita y la persona no esté en otra lista del mismo proceso.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cargo, fk_cedula_estudiante]
              properties:
                cargo:                { type: string, enum: ["presidente", "vicepresidente", "secretario", "tesorero", "vocal"] }
                fk_cedula_estudiante: { type: string, minLength: 10, maxLength: 10 }
                foto_url:             { type: string, maxLength: 255 }
      responses:
        '201':
          description: Candidato agregado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: Cargo duplicado, persona en lista incompatible, o lista no editable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /candidato/listas/{id}/planes:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    post:
      tags: [Portal candidato]
      summary: Agrega un plan de trabajo a la lista propia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [area, propuesta]
              properties:
                area:        { type: string, enum: ["academico", "deportivo", "cultural", "infraestructura", "social"] }
                propuesta:   { type: string }
                archivo_url: { type: string, maxLength: 255 }
      responses:
        '201':
          description: Plan agregado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: Lista no editable o proceso fuera de inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /candidato/listas/{id}/enviar-revision:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    post:
      tags: [Portal candidato]
      summary: Envía la lista propia a revisión administrativa
      description: Pasa la lista a estado en_revision. Requiere al menos un candidato y proceso en inscripción.
      responses:
        '200':
          description: Lista enviada a revisión
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListaCandidata' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: Sin candidatos, lista aprobada/retirada o proceso fuera de inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /candidato/candidatos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Portal candidato]
      summary: Edita un candidato de la lista propia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cargo:    { type: string, enum: ["presidente", "vicepresidente", "secretario", "tesorero", "vocal"] }
                foto_url: { type: string, maxLength: 255 }
      responses:
        '200':
          description: Candidato actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Candidato' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: Cargo duplicado o lista no editable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }
    delete:
      tags: [Portal candidato]
      summary: Quita un candidato de la lista propia
      responses:
        '204': { description: Candidato eliminado }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: Lista no editable o proceso fuera de inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /candidato/planes/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    patch:
      tags: [Portal candidato]
      summary: Edita un plan de trabajo de la lista propia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                area:        { type: string, enum: ["academico", "deportivo", "cultural", "infraestructura", "social"] }
                propuesta:   { type: string }
                archivo_url: { type: string, maxLength: 255 }
      responses:
        '200':
          description: Plan actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanTrabajo' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '403': { $ref: '#/components/responses/SinPermiso' }
        '404': { $ref: '#/components/responses/NoEncontrado' }
        '409':
          description: Lista no editable o proceso fuera de inscripción
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  # ---------------------------------------------------------------------------
  # Perfil propio: cada usuario gestiona su cuenta (identificado por el token).
  # ---------------------------------------------------------------------------
  /perfil/foto:
    patch:
      tags: [Perfil]
      summary: Actualiza la foto de perfil del usuario autenticado
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [foto_url]
              properties:
                foto_url:
                  type: string
                  maxLength: 255
                  description: URL http(s) de la imagen, o cadena vacía para quitarla.
      responses:
        '200':
          description: Perfil actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Estudiante' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /perfil/password:
    patch:
      tags: [Perfil]
      summary: Cambia la contraseña del usuario autenticado
      description: Exige la contraseña actual correcta antes de reemplazarla.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password_actual, password_nueva]
              properties:
                password_actual: { type: string }
                password_nueva:  { type: string, minLength: 6 }
      responses:
        '200':
          description: Contraseña actualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje: { type: string }
        '400':
          description: La contraseña actual es incorrecta
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/NoAutenticado' }
        '422': { $ref: '#/components/responses/ValidacionFallida' }

  /health:
    get:
      tags: [Sistema]
      summary: Verificación de disponibilidad del servicio
      security: []
      responses:
        '200':
          description: Servicio operativo
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    NoAutenticado:
      description: Token ausente, inválido o expirado
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    SinPermiso:
      description: El usuario autenticado no tiene rol admin
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NoEncontrado:
      description: El recurso solicitado no existe
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    SolicitudInvalida:
      description: Faltan campos obligatorios en la solicitud
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidacionFallida:
      description: El cuerpo de la solicitud no supera la validación
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }

    Notificacion:
      type: object
      properties:
        id_notificacion:      { type: integer }
        fk_cedula_estudiante: { type: string }
        tipo:                 { type: string, example: voto }
        titulo:               { type: string }
        mensaje:              { type: string }
        leida:                { type: integer, enum: [0, 1] }
        fecha_creacion:       { type: string, format: date-time }

    Votacion:
      type: object
      description: Incluye además puede_eliminar y motivo_bloqueo (ver EstadoEliminacion).
      properties:
        puede_eliminar:
          type: boolean
        motivo_bloqueo:
          type: string
          nullable: true
        fk_id_carrera:
          type: integer
          nullable: true
          description: Carrera de la papeleta (null si es global).
        nombre_carrera:
          type: string
          nullable: true
        id_votacion:     { type: integer }
        titulo_papeleta: { type: string }
        fecha_apertura:  { type: string, format: date-time }
        fecha_cierre:    { type: string, format: date-time }
        estado:          { type: string, example: abierta }
        id_proceso:      { type: integer }
        nombre_proceso:  { type: string }
        foto_url:
          type: string
          nullable: true
          maxLength: 255
          description: >-
            Imagen opcional de la papeleta. Debe ser una URL que inicie con
            https:// (http u otra cosa devuelve 422). Cadena vacía o null para
            quitarla.

    VotacionInput:
      type: object
      required: [fk_id_proceso, titulo_papeleta, fecha_apertura, fecha_cierre]
      properties:
        fk_id_proceso:   { type: integer }
        titulo_papeleta: { type: string, maxLength: 120 }
        fecha_apertura:  { type: string, example: "2026-07-01 08:00:00" }
        fecha_cierre:    { type: string, example: "2026-07-02 17:00:00" }
        estado:          { type: string, enum: ["pendiente", "abierta", "cerrada"] }
        fk_id_carrera:
          type: integer
          nullable: true
          description: >-
            Categoría de la papeleta. null = global (votan todos); con valor =
            solo los estudiantes de esa carrera (p. ej. "Representante TICs").
            No puede haber dos papeletas de la misma carrera en un mismo proceso
            (409).
        foto_url:
          type: string
          nullable: true
          maxLength: 255
          description: >-
            Imagen opcional de la papeleta. Debe ser una URL que inicie con
            https:// (http u otra cosa devuelve 422). Cadena vacía o null para
            quitarla.

    Voto:
      type: object
      properties:
        id_voto:         { type: integer }
        tipo_voto:       { type: string, enum: ["valido", "blanco", "nulo"] }
        fecha_hora:      { type: string, format: date-time }
        id_votacion:     { type: integer }
        titulo_papeleta: { type: string }
        id_lista:        { type: integer, nullable: true }
        nombre_lista:    { type: string, nullable: true }

    FacultadInput:
      type: object
      required: [nombre_facultad]
      properties:
        nombre_facultad:
          type: string
          maxLength: 100

    Facultad:
      type: object
      properties:
        id_facultad:
          type: integer
        nombre_facultad:
          type: string
          maxLength: 100

    DirectorInput:
      type: object
      required: [nombres, apellidos, correo]
      properties:
        nombres:
          type: string
          maxLength: 80
        apellidos:
          type: string
          maxLength: 80
        correo:
          type: string
          format: "email"
          maxLength: 120

    Director:
      type: object
      properties:
        id_director:
          type: integer
        nombres:
          type: string
          maxLength: 80
        apellidos:
          type: string
          maxLength: 80
        correo:
          type: string
          format: "email"
          maxLength: 120

    CarreraInput:
      type: object
      required: [nombre_carrera]
      properties:
        nombre_carrera:
          type: string
          maxLength: 100
        fk_id_director:
          type: integer
        fk_id_facultad:
          type: integer

    Carrera:
      type: object
      properties:
        id_carrera:
          type: integer
        nombre_carrera:
          type: string
          maxLength: 100
        fk_id_director:
          type: integer
        fk_id_facultad:
          type: integer

    ResponsableInput:
      type: object
      required: [nombres, apellidos, correo]
      properties:
        nombres:
          type: string
          maxLength: 80
        apellidos:
          type: string
          maxLength: 80
        cargo:
          type: string
          maxLength: 60
        correo:
          type: string
          format: "email"
          maxLength: 120

    Responsable:
      type: object
      properties:
        id_responsable:
          type: integer
        nombres:
          type: string
          maxLength: 80
        apellidos:
          type: string
          maxLength: 80
        cargo:
          type: string
          maxLength: 60
        correo:
          type: string
          format: "email"
          maxLength: 120

    EstudianteInput:
      type: object
      required: [cedula, nombres, apellidos, correo_institucional, password]
      properties:
        cedula:
          type: string
          minLength: 10
          maxLength: 10
          description: >-
            Cédula ecuatoriana válida: 10 dígitos, provincia 01-24 o 30, tercer
            dígito menor que 6 y dígito verificador correcto (módulo 10). Un
            número que no cumpla devuelve 422.
        nombres:
          type: string
          maxLength: 80
        apellidos:
          type: string
          maxLength: 80
        correo_institucional:
          type: string
          format: "email"
        password:
          type: string
          minLength: 6
        promedio:
          type: number
          minimum: 0
          maximum: 100
          description: Promedio sobre 100 (escala de la universidad).
        estado_academico:
          type: string
          enum: ["activo", "inactivo", "egresado", "graduado"]
        fk_id_carrera:
          type: integer
        rol:
          type: string
          enum: ["estudiante", "admin", "candidato"]

    Estudiante:
      type: object
      properties:
        cedula:
          type: string
          minLength: 10
          maxLength: 10
          description: >-
            Cédula ecuatoriana válida: 10 dígitos, provincia 01-24 o 30, tercer
            dígito menor que 6 y dígito verificador correcto (módulo 10). Un
            número que no cumpla devuelve 422.
        nombres:
          type: string
          maxLength: 80
        apellidos:
          type: string
          maxLength: 80
        correo_institucional:
          type: string
          format: "email"
        promedio:
          type: number
        estado_academico:
          type: string
          enum: ["activo", "inactivo", "egresado", "graduado"]
        fk_id_carrera:
          type: integer
        rol:
          type: string
          enum: ["estudiante", "admin", "candidato"]
        foto_url:
          type: string
          nullable: true
          maxLength: 255
          description: URL de la foto de perfil (o null).
        asignacion:
          nullable: true
          description: >-
            Asignación de candidatura cuando aplica (solo cuentas con rol
            candidato a las que el admin ya asignó una papeleta); null si no tiene.
          allOf: [{ $ref: '#/components/schemas/AsignacionCandidatura' }]

    AsignacionCandidatura:
      type: object
      description: >-
        Papeleta que la administración asignó a un candidato. El candidato no
        elige proceso, carrera ni papeleta: trabaja solo con esta asignación.
      properties:
        id_asignacion:      { type: integer }
        fk_cedula_estudiante: { type: string, minLength: 10, maxLength: 10 }
        fk_id_votacion:     { type: integer }
        titulo_papeleta:    { type: string }
        estado_votacion:    { type: string }
        carrera_votacion:   { type: integer, nullable: true }
        nombre_carrera:     { type: string, nullable: true, description: Carrera de la papeleta (null si es global). }
        id_proceso:         { type: integer }
        nombre_proceso:     { type: string }
        estado_proceso:     { type: string, description: Estado del proceso; debe ser "inscripcion" para poder asignar. }
[...]
